<!DOCTYPE html>
<html>
    <script type="text/javascript" src="/javascripts/testFuncs.js"></script>
    <script>
        funguje();
    </script>
    <title>
        ralgun blog
    </title>
    <body>
        <h1 style="font-size:60px;color:purple">
            ralgun blog
        </h1>
        <h2>
            Newest article
        </h2>
        <hr>
        <h2 id="contentTitle"><%= contentTitle %></h2>
        <p id="content"><%= content %></p>
    </body>
</html>